<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 background2">
      <div class="m-20 mb-40">
        <div class="p-10 text-center">
          <div class="menu">
            <a href="#">
              <img width="250px" src="assets/logofinal.png" alt="logo">
            </a>
            <a>Matematicas</a>
            <a>Fisica</a>
            <a>Software</a>
            <a>FOGU</a>
            <a>
              <img width="60px" height="60px" src="assets/user.png" alt="logo">
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-white">
          <div class="text-center pt-30">
            <h1 class="text-title">Seguir buscando:</h1>
            <br>
            <div>
              <div class="search">
                <!-- <input class="input-search" type="text"> -->
                <p-autoComplete styleClass="w-85 " [suggestions]="results" (completeMethod)="search($event)" field="titulo" 
                [emptyMessage]="'No hay libros'" [(ngModel)]="text"  inputStyleClass="input-search"></p-autoComplete>
                <a>
                  <img src="assets/search.svg" class="icon-search" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="p-25">
        <h3 style="color: #004d0a;font-weight: bold;">
          Resultados
        </h3>
        <div class="result-list">
          <div *ngFor="let result of results" class="result-item row m-5" style="cursor: pointer" [routerLink]="'/visualizacion/' + result.id_libro"> 
            <div class="col-sm-4">
              <img width="150px" height="200px" src="assets/fis.jpg" alt="">
            </div>
            <div class="col-sm-8">
              <h4>
                {{result.titulo}}
              </h4>
              <div>
                <img width="30px" height="30" src="assets/star.png" alt="Puntuacion">
                <img width="30px" height="30" src="assets/star.png" alt="Puntuacion">
                <img width="30px" height="30" src="assets/star1.png" alt="Puntuacion">
                <p>
                  Autor: {{result.autor}} <br>
                  Edicion: {{result.edicion}} <br>
                  <!-- Año: {{result.año}}  -->
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="p-25">
        <h4 style="color: #004d0a;font-weight: bold;">
          Libros populares
        </h4>
      </div>
    </div>
  </div>
</div>