<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 background-green">
      <div class="row">
        <div class="col-sm-2 p-10">
          <div class="float-right">
            <a href="#"><img src="assets/left-arrow.png" alt="Regresar"></a>
          </div>
        </div>
        <div class="col-sm-8 text-white">
          <div class="m-15 text-center">
            <font size="6"><p>Dibujo tecnico con graficas de ingenieria. Pearson</p></font>
          </div>
        </div>
        <div class="col-sm-1 p-15">
          <div class=" float-center">
            <img width="55px" height="55" src="assets/pause.png" alt="Pausar">
          </div>
        </div>
        <div class="col-sm-1 p-15">
          <div class=" float-center">
            <img width="55px" height="55" src="assets/speaker.png" alt="Volumen ">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 background-gray">
      <div class="text-center">
        <img width="565px" height="700"src="assets/dibuj.jpg" alt="Libro de Dibujo">
      </div>
    </div>
  </div>
</div>
