<div class="background-login">
  <div id="wrapper">
    <img style="cursor: pointer" [routerLink]="'/'" width="250px" src="assets/logofinal.png" alt="logo" >
    <!-- <h1>THE LOGO</h1> -->
    <!-- <h2>A cool headline.</h2> -->
    <div>
      <input type="radio" id="login" name="action" value="login" checked>
      <input type="radio" id="register" name="action" value="register">
      <input type="radio" id="reset" name="action" value="reset">
      <div id="inputs">
        <div>
          <input [(ngModel)]="email" type="text" placeholder="email">
          <div>
            <input [(ngModel)]="password" type="password" placeholder="password">
            <div>
              <input [(ngModel)]="passwordConfirmation" type="password" placeholder="repeat password">
              <input type="submit" value="reset password">
              <div>
                <input (click)="register()" type="submit" value="register">
                <input (click)="logIn()" type="submit" value="login">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="labels">
        <label for="login">Already registered?
          <span>Login</span>
        </label>
        <label for="reset">Password lost?
          <span>Reset</span>
        </label>
        <label for="login">
          <span>Back</span>
        </label>
        <label for="register">Not registered?
          <span>Create an account</span>
        </label>
      </div>
    </div>
  </div>

  
</div>