/* You can add global styles to this file, and also import other style files */
@import 'helpers.css';

.input-search {
  background-color: transparent;
  border: none;
  border-radius: 14px;
  width: 100%;
  color: #ffffff;
}
.w-85 {
  width: 85%;
}
html, body {
  height: 100%;
  margin: 0;
}
.cursor-pointer{
  cursor: pointer;
}